.hadith_page {
  padding: 20px;
  min-height: 60vh;
}

.hadith_page .hadith_content {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}